:root {
  --bg-color: rgba(249, 219, 217);
  --mainFontColor: rgba(252, 196, 190);
  --pointFontColor: rgba(229, 157, 152);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none; /*텍스트의 밑줄 제거*/
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  background-color: transparent;
}

span {
  color: #fff;
  background-color: transparent;
}

.header {
  height: 92px;
}

.navbar {
  display: flex; /*flexbox로 적용할 수 있는 속성*/
  justify-content: space-around; /*네비바 내의 div들을 같은 간격으로 조정*/
  align-items: center; /*모든 div들을 중간의 같은 선상에 정렬*/
  position: fixed;
  width: 100%;
  padding-top: 20px;
  border-bottom: solid 1px #fff;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
}
.logo {
  display: flex;
}
.img {
  width: 10%;
  height: 35%;
  padding: 5px;
}
.logo_name {
  margin-top: 0px;
  padding: 10px 10px;
}
.main_menu {
  display: flex;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
}
.main_menu li {
  list-style: none; /*리스트 사용 시 글자 앞에 붙는 표시 제거*/
  padding: 10px 10px;
  border-radius: 5px;
}
.main_menu li:hover {
  background-color: rgba(255, 255, 255, 0.721);
}
.icons {
  display: flex;
  margin-top: 0px;
}
.icons li {
  list-style: none;
  padding: 10px 10px;
}
.navbar_toggleBtn {
  position: absolute; /*문서에서 분리해서 위치 정할 때 사용(하단에 있는 햄버거 메뉴가 로고 부분으로 올라옴)*/
  right: 50px; /*오른쪽으로 이동할 때 사용*/
  top: 45px; /*위로 이동할 때 사용*/
  display: none;
}
/*반응형으로 만들때는 미디어 쿼리를 사용하기*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .main_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }
  .main_menu li {
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }
  .icons {
    justify-content: center;
    width: 100%;
    padding-left: 0px;
    display: none;
  }
  .icons li {
    justify-content: center;
  }
  .navbar_toggleBtn {
    display: block;
    font-size: 20px;
    margin-right: 30px;
  }
  .main_menu.active,
  .icons.active {
    display: flex; /*active 상태면, display:none 상태를 flex박스로 변경하여 보여주고 싶다라는 의미*/
  }
}

/*sidebar*/
.sidebar {
  background-color: transparent;
  position: fixed;
  left: 90%;
  z-index: 10;
}

.sidebar_menu {
  font-size: 30px;
  text-align: center;
  color: blue;
}

/*document_first*/
video {
  width: 100%;
  height: auto;
}

.document_first {
  width: 100%;
  transform: translateY(-290%);
  margin: 0 150px;
  font-size: 15px;
}

.title {
  font-size: 50px;
}

/*document_second*/
.document_second {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.uls {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.document_second li {
  list-style: none;
  font-size: 15px;
}

.document_second h1 {
  color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 80px;
}

.document_second h2 {
  color: black;
  text-align: center;
  font-size: 20px;
  margin-bottom: 60px;
  border-bottom: solid 3px black;
  padding-bottom: 20px;
  margin-left: 40px;
}

.number {
  display: inline;
  margin-left: 180px;
}
.number2 {
  display: inline;
  margin-left: 190px;
}
.number3 {
  display: inline;
  margin-left: 110px;
}
.number4 {
  display: inline;
  margin-left: 180px;
}

.percentage {
  width: 300px;
  height: 25px;
  background-color: black;
  border-radius: 10px;
  margin: 10px 0px;
}

.percentage1,
.percentage2 {
  width: 250px;
  height: 16px;
  background-color: var(--mainFontColor);
  border-radius: 50px;
  transform: translateY(-30px);
}
.percentage3 {
  width: 200px;
  height: 16px;
  background-color: var(--mainFontColor);
  border-radius: 50px;
  transform: translateY(-30px);
}
.percentage4 {
  width: 220px;
  height: 16px;
  background-color: var(--mainFontColor);
  border-radius: 50px;
  transform: translateY(-30px);
}

.abilitys h2 {
  margin-bottom: 60px;
}

.pen {
  background-color: rgba(255, 0, 0, 0.469);
  width: 300px;
  height: 30px;
  text-align: center;
  margin: auto;
  transform: translateY(-330%);
}

.ability {
  display: flex;
  flex-direction: row;
}

.ability li {
  margin-left: 40px;
}

.plus {
  text-align: center;
  font-size: 70px;
}

.plus_ability {
  margin-top: 50px;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.156);
  margin-left: 90px;
  padding: 30px;
}

.abilityImg {
  width: 150px;
  height: 150px;
}

.ability p {
  text-align: center;
  font-size: 18px;
  border-bottom: solid 3px red;
  padding-bottom: 10px;
  padding-top: 5px;
}

.plus_skill {
  border-top: dotted 3px black;
  padding-top: 30px;
}

.plus_skill i {
  font-size: 35px;
}

.plus_skill p {
  font-size: 20px;
}

/*document_third css*/
.document_third {
  height: 700px;
  background-color: rgba(205, 212, 255, 0.347);
  display: flex;
  flex-direction: column;
}

.projects_title {
  margin: 100px 0px;
  text-align: center;
  color: black;
}

.all_project {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.pen1 {
  position: absolute;
  background-color: rgba(0, 13, 255, 0.469);
  width: 300px;
  height: 30px;
  left: 550px;
  margin: auto;
  transform: translateY(400%);
}

.project1 {
  width: 450px;
  height: 250px;
  background: url("img/쇼핑몰.PNG") center/cover;
  border-radius: 5px;
  /*마우스가 빠졌을 때에도 서서히 변하기 위해 div에도 변형 속성을 줍니다*/
  /*배경색 변형 선언*/
  transition-property: background-color;
  /*변형 완료 1초*/
  transition-duration: 1s;
  /*빠른 시작 서서히 감속*/
  transition-timing-function: ease-out;
  transition: all 300ms ease-in;
}
.project1:hover {
  width: 450px;
  height: 250px;
  transform: scale(1.1);
  cursor: pointer;

  /*rgb컬러a알파 0~1까지 화이트 0.3만큼 알파 혹은 반투명*/
  background: url("img/쇼핑몰.PNG") center/cover;
  /* 변형할 것은 배경 1초, 빠른 시작 서서히 감속*/
  transition: background 1s ease-out;
}

.project2 {
  width: 450px;
  height: 250px;
  background: url("img/공모전.JPG") center/cover;
  border-radius: 5px;
  /*마우스가 빠졌을 때에도 서서히 변하기 위해 div에도 변형 속성을 줍니다*/
  /*배경색 변형 선언*/
  transition-property: background-color;
  /*변형 완료 1초*/
  transition-duration: 1s;
  /*빠른 시작 서서히 감속*/
  transition-timing-function: ease-out;
  transition: all 300ms ease-in;
}
.project2:hover {
  width: 450px;
  height: 250px;
  transform: scale(1.1);
  cursor: pointer;

  /*rgb컬러a알파 0~1까지 화이트 0.3만큼 알파 혹은 반투명*/
  background: url("img/공모전.JPG") center/cover;
  /* 변형할 것은 배경 1초, 빠른 시작 서서히 감속*/
  transition: background 1s ease-out;
}

.project1_wrap,
.project2_wrap {
  height: 100%;
  transform: translateY(-32%);
}

.project1_wrap:hover,
.project2_wrap:hover {
  background-color: rgba(38, 0, 255, 0.803);
}

.projects_p1 {
  font-size: 20px;
  margin: 80px 0px;
  text-align: center;
  transform: translateY(70%);
  color: #fff;
}

.projects_p2 {
  font-size: 20px;
  margin: 80px 0px;
  text-align: center;
  transform: translateY(50%);
  color: #fff;
}

.plus_project {
  width: 300px;
  margin: auto;
  text-align: center;
  border-bottom: solid 3px blue;
  border-top: solid 3px blue;
  padding: 20px;
}

/*fotter css*/
u {
  margin: 0 5px;
  color: var(--pointFontColor);
}

.container {
  position: absolute;
  top: 2600px;
  width: 1600px;
  background-color: var(--bg-color);
}

.document_forth {
  margin: 100px 150px;
}

.conclusion {
  margin-bottom: 70px;
}

.title4 {
  color: black;
}

.article4 {
}

.content4 {
}

.divider {
  width: 90%;
  height: 3px;
  background-color: black;
}

.name {
}

.infos {
}

.infos_header {
  color: black;
  margin-top: 50px;
}

.infos_name,
.infos_files,
.infos_contents {
}

.name,
.files,
.contents {
}

input,
textarea {
}

.footer {
  width: 100%;
  height: 50px;
  background-color: rgba(205, 212, 255, 0.347);
  text-align: center;
  padding-top: 40px;
}
